<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <!-- Navbar -->
    {{>navbar}}

    <!-- HEADER -->
    {{>main}}

    <!-- SERVICES SECTION -->
    {{>services}}

    <!-- SKILL SECTION -->
    {{>skills}}

    <!-- PROJECT SECTION -->
    {{>projects}}

    <!-- CONTACT ME -->
    {{>contact}}

    <!--    Footer -->
    {{>footer}}


    <script src="js/script.js"></script>
</body>

</html>