<footer>
    <div class="footer">
        <div class="myname">
            <h2>Manoj Vaishnav</h2>
        </div>
        <div class="socialmedia">
            <div class="back">
                <a href="https://github.com/manojvaishnav" target="_blank"><i class="fa-brands fa-github" title="Git"></i></a>
            </div>
            <div class="back">
                <a href="https://instagram.com/mr.mk_vaishnav?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram" title="Instagram"></i></a>
            </div>
            <div class="back">
                <a href="https://www.linkedin.com/in/manoj-vaishnav" target="_blank"><i class="fa-brands fa-linkedin-in" title="Linked-In"></i></a>
            </div>
            <div class="back">
                <a href="mailto:manojvaishnav989@gmail.com" target="_blank"><i class="fa-solid fa-envelope" title="Email"></i></a>
            </div>
        </div>
        <div class="copyright">
            <span>Copyright &copy;2022 Manoj Vaishnav. &nbsp;</span>
            <span>All Rights Reserved.</span>
        </div>
    </div>
</footer>