<header class="headerbar">
    <div class="nav-main">
        <div class="logo">
            <a href="/">Manoj Vaishnav</a>
        </div>
        <nav class="navbar">
            <ul class="menu ">
                <li class="menu-item"><a href="/">Home</a></li>
                <li class="menu-item"><a href="#my_services">Services</a></li>
                <li class="menu-item"><a href="#skill_section">Skills</a></li>
                <li class="menu-item"><a href="#project_section">Projects</a></li>
                <li class="menu-item"><a href="#contact_section">Contact Me</a></li>
            </ul>
        </nav>
        <div class="nav-icon">
            {{!-- <button id="resume">Download Resume</button> --}}
            <a href="file/Manoj_Vaishnav_Resume.pdf"><button id="resume">Download Resume</button></a>
            <div class="mobile-nav">
                <i class="fa-solid fa-bars" id="open"></i>
                <i class="fa-solid fa-xmark" id="close"></i>
            </div>
        </div>
    </div>
</header>