<section class="project_section" id="project_section">
    <div class="project_head">
        <h2>My Projects</h2>
    </div>
    <div class="data_box">
        <div class="box">
            <div class="img_container">
                <img src="./images/people.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://weatherapp-by-mk.herokuapp.com/">Weather Forecast</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js,express js,API
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/people.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://temp-by-mk.herokuapp.com/">Quotes App</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js, Express Js, API
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/people.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://portfolio-by-mk.herokuapp.com/">Portfolio</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js, Express Js
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/people.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://calculator-by-mk.herokuapp.com/">Calculator</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js, Express Js
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/people.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://rest-api-by-mk.herokuapp.com/book">Book Rest Api</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        Node Js, Express Js, MongoDB
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/people.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="/">E-Commerce</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script,Node Js, Express Js, MongoDB
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>