<section class="service_section" id="my_services">
    <div class="services">
        <div class="heading">
            <h2>My Services</h2>
        </div>
        <div class="data">
            <div class="frontend">
                <div class="page_image">
                    <i class="fa-solid fa-laptop-code"></i>
                </div>
                <div class="page_data">
                    <span id="head">Frontend</span>
                </div>
                <div class="page_data">
                    <span id="tech">HTML,CSS,Java Script</span>
                </div>
            </div>
            <div class="backend">
                <div class="page_image">
                    <i class="fa-brands fa-node-js"></i>
                </div>
                <div class="page_data">
                    <span id="head">Backend</span>
                </div>
                <div class="page_data">
                    <span id="tech">Node Js, Express Js, MongoDB</span>
                </div>
            </div>
            <div class="fullstack">
                <div class="page_image">
                    <i class="fa-solid fa-layer-group"></i>
                </div>
                <div class="page_data">
                    <span id="head">Fullstack</span>
                </div>
                <div class="page_data">
                    <span id="tech">HTML,CSS,Java Script, Node Js, Express Js, MongoDB</span>
                </div>
            </div>
        </div>
    </div>
</section>