<section class="skill_section" id="skill_section">
    <div class="skill_data">
        <div class="skill_heading">
            <h2>My Skills</h2>
        </div>
        <div class="progress">
            <div class="skill">
                <span>HTML</span>
                <div class="skill_bar">
                    <div class="skill_name" id="html">90%</div>
                </div>
            </div>
            <div class="skill">
                <span>CSS</span>
                <div class="skill_bar">
                    <div class="skill_name" id="css">80%</div>
                </div>
            </div>
            <div class="skill">
                <span>Java Script</span>
                <div class="skill_bar">
                    <div class="skill_name" id="js">70%</div>
                </div>
            </div>
            <div class="skill">
                <span>Node Js</span>
                <div class="skill_bar">
                    <div class="skill_name" id="nodejs">75%</div>
                </div>
            </div>
            <div class="skill">
                <span>Express Js</span>
                <div class="skill_bar">
                    <div class="skill_name" id="expressjs">75%</div>
                </div>
            </div>
            <div class="skill">
                <span>MongoDB</span>
                <div class="skill_bar">
                    <div class="skill_name" id="mongo">80%</div>
                </div>
            </div>
            <div class="skill">
                <span>MySQL</span>
                <div class="skill_bar">
                    <div class="skill_name" id="mysql">85%</div>
                </div>
            </div>
        </div>
    </div>
</section>